alabaster==0.7.16
Babel==2.15.0
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
docutils==0.21.2
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.5
mutagen==1.47.0
overrides==7.7.0
packaging==24.1
pyarr==5.2.0
pycryptodomex==3.20.0
Pygments==2.18.0
PyYAML==6.0.1
requests==2.32.2
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
types-requests==2.32.0.20240712
urllib3==2.2.2
websockets==12.0
yt-dlp==2024.7.7